@model ImageDetection.Models.ImageOutputResult
@{
    ViewData["Title"] = "Home Page";
}

<h1>Result</h1>
@if (Model.labels.Count > 0)
{
    <p>List of detected objects:</p>
    <ol>

        @foreach (string label in Model.labels)
        {
        <li>@label</li>
        }
    </ol>
    <br>
    <a asp-action="DownloadResult" asp-controller="Home" asp-route-id="@Model.unFolderId" asp-route-fileName="@Model.fileName">Download Result image</a>
}
else
{
<p>No object is detected.</p>
}
